body {
  background-image: url("evil.png");
  height: 11px;
  
}

.cabecalho{
  background-image: url("evil.png");
  height: 150px;

}

.container {
  font-weight: 600; 
}
.container_a {
  text-align: center;
  font-weight: bold;
}
.display-2{
  color: black; 
  font-weight: 400;
  font-family:  "Gill Sans Extrabold", Helvetica, sans-serif;
  text-shadow:
    1px -1px 0 #696969,
      2px -2px 0 #696969,
      3px -3px 0 #696969,
      4px -4px 0 #696969,
      5px -5px 0 #696969,
      6px -6px 0 #696969,
      7px -7px 0 #696969,
      13px -13px 12px rgba(0, 0, 0, 0.55),
      13px -13px 1px rgba(0, 0, 0, 0.5);
}

.a {
  color: #46295A;
  font-weight: 700; 
}

body { 
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  
  color: black;
  font-weight: bold;
}

footer { 
  margin-top: auto; 
}

.thead-default {
  color: black;
  text-align: center; 
  background: #E8ECEC;
}

.b {
  text-align: center;
  font-weight: 800; 
}

.u {
  font-weight: 700;
}


